<html>
    <head>
        <title>Billing info entry</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            #main {
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <div id="main" class="container">
        <h2>
            The following account request was received:
        </h2>
        <ul>
            <li>Requester name/email: {{requester_name}} ({{requester_email}})</li>
            <li>PI name/email: {{pi_name}} ({{pi_email}})</li>
        </ul>
        <pre>
            {{info_json}}
        </pre>
        <form method="post">
            {% csrf_token %}
            <select name="payment_type">
                {% for option in payment_choices %}
                    <option value="{{option.0}}">{{option.1}}</option>
                {% endfor %}
            </select>
            <div class="form-group">
                    <label for="payment_number">Payment number</label>
                    <input type="text" class="form-control" name="payment_number" id="payment_number" placeholder="Enter billing number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    </body>
</html>
